<%@ Master Language="C#" AutoEventWireup="true" CodeFile="SiteMaster.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Geo Tab and Google Map Intergation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>

    <style type="text/css">
        .gmnoprint img {
            max-width: none;
        }

        .panel:hover {
            background-color: rgb(237, 245, 252);
        }

        .map {
            min-width: 350px;
            min-height: 570px;
            width: 100%;
            height: 100%;
        }

        img {
            max-width: 110%;
            height: auto;
        }

        .clearfix {
            clear: both;
        }

        .rowcolor {
            background-color: #CCCCCC;
        }

        .padall {
            padding: 10px;
        }

        .padbig {
            padding: 20px;
        }

        .icon {
            font-size: 23px;
            color: #197BB5;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">       
            <!--- Header section --->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #000000">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" title="Geo Tab and Google Map Intergation" style="color: #fff">Geo Tab and Google Map Intergation </a>
                    </div>
                </div>
            </div>
            <!--- Contains section --->
            <div class="container">
                <asp:ContentPlaceHolder ID="BodyContainer" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!--- Footer section --->
            <div class="footer" style="background-color: #000000">
                <div class="container">
                    <p class="text-muted" style="color:#fff; text-align:center;padding-top:10px;">Copyright @ Systematixindia.com</p>
                </div>
            </div>
    </form>
</body>

</html>
